---
---

@import "{{ site.theme }}";

header h1 { text-transform: uppercase; }

section {
  /* width: 590px; */
  width: 990px;
}

.wrapper {
  /* width: 650px; */
  width: 1050px;
}

nav {
  /* margin-left: -580px; */
  margin-left: -780px;
}

#banner {
  /* margin-right: -382px; */
  margin-right: -582px;
}

#banner .fork {
  /* margin-left: -325px; */
  margin-left: -525px;
}
